@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  gap: 12px;
  margin: 12px;
  padding: 0;
}


.left-links {
  margin-right: auto;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 40%);
}