.but {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.first-element {
    background-color: rgb(31, 31, 31);
    color: rgb(211, 211, 211);
    font-weight: bold;
}

.second-element {
    background-color: rgb(255, 255, 184);
    color: rgb(54, 51, 51);
}