body {
  background: #eee;
  font-family: sans-serif;
  margin: 0;
}

.card {
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 16px;
}

.content {
  background: #e3f4ff;
  margin: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}